

 <header>
  <img class="image-header" src="css/images/header-navbar/images.jpg" alt="">
  <nav>
   <ul class="nav_links">
       <li><a href="#">Bolos</a></li>
       <li><a href="#">Doces</a></li>
       <li><a href="#">Bebidas</a></li>
   </ul>
  </nav>

  <section id="campo-pesquisa"> 
   <div id="barra-pesquisa">
    <p id="area-pesquisa">Procure pelo seu doce aqui...</p>
    <button type="submit"><img id="icone-pesquisa" src="css/images/header-navbar/pesquisar.svg" alt=""></button> 
   </div>
  </section>

  <section id="secao-user">
   <a id="acessar-login" href="/login">Entrar</a>
   <button type="submit"><img id="icone-carrinho" src="css/images/header-navbar/carrinho.svg" alt=""></button>
  </section>
  
 </header>
